{% extends "appbuilder/base.html" %}
{% block content %}
<div class="container" style="margin-top:100px; max-width:400px;">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Sign In with OAuth</h3>
      <button id="kc-login-btn" class="btn btn-primary" style="width:100%; margin-top:20px;">
        SIGN IN WITH KEYCLOAK 🔑
      </button>
    </div>
  </div>
</div>
<script nonce="{{ csp_nonce() }}">
document.getElementById("kc-login-btn").onclick = function(e) {
  e.preventDefault();

  const w = 600, h = 700;
  const left = (screen.width - w) / 2;
  const top = (screen.height - h) / 2;

  window.open(
    "http://localhost:8088/login/keycloak", // Keycloak login URL
    "Keycloak Login",
    `width=${w},height=${h},top=${top},left=${left}`
  );
};

</script>
{% endblock %}
